Package: libiwinfo
Version: 51
Depends: libc, libnl-tiny
Source: package/network/utils/iwinfo
Section: libs
Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: realtek
Installed-Size: 21606
Description:  Wireless information library with consistent interface for proprietary Broadcom,
 madwifi, nl80211 and wext driver interfaces.
