Package: ubox
Version: 2014-09-16-5c45b560bc8c9e13682269ed963a8a4a65959518
Depends: libc, libubox, ubusd, ubus, libubus, libuci
Source: package/system/ubox
License: GPLv2
Section: base
Maintainer: John Crispin <blogic@openwrt.org>
Architecture: realtek
Installed-Size: 23180
Description:  OpenWrt system helper toolbox
