Package: busybox
Version: 1.22.1-2
Depends: libc
Source: package/utils/busybox
License: GPLv2 BSD-4c
LicenseFiles: LICENSE archival/libarchive/bz/LICENSE
Section: base
Essential: yes
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: realtek
Installed-Size: 230872
Description:  The Swiss Army Knife of embedded Linux.
 It slices, it dices, it makes Julian Fries.
