Package: libgcc
Version: -1
Source: package/libs/toolchain
Section: libs
Status: unknown hold not-installed
Essential: yes
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: realtek
Installed-Size: 33869
Description:  GCC support library
